# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Evidence
evidence/*

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log
